body {
  font-family: 'Lato', sans-serif;
  padding: 1rem 0rem;
}

.product-item {
  cursor: pointer;
}

  .product-face {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 10rem;
    margin-top: -1.5rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    background:rgba(10, 10, 10, 0.1);
  }

  .product-details {
    margin-bottom: -0.75rem;
    padding-top: 0.75rem;
    font-size: 0.875rem;
  }

.ad-item {
  height: 12.8125rem;
}
  .ad-item img {
    display: block;
    width: 100%;
    height: 100%;
  }

#loading {
  height: 50px;
  background: url(loading.gif) no-repeat center center;
}

#no-more-message {
  text-align: center;
  font-weight: 700;
}

label {
  padding-top: 0.3rem;
  padding-right: 1rem;
  display: inline-block;
}

.is-hidden {
  display: none;
}